/*全体*/
body	{
	background: black;
	font-family: Verdana, sans-serif;
	margin: 0;
}

div#wrapper {
	background: url(image/kaminari_bg.jpg) no-repeat;
	width: 1600px;
	margin: 0 auto;
	padding-top: 15px;
}

div#container	{
	width: 960px;
	margin: 0 auto;
	display: -webkit-box; /* safari,chrome用 */
	display: -moz-box; /* firefox用 */
}

.radius{
	border: solid 1px white;
	border-radius: 10px;
	-webkit-border-radius: 10px; /*safari,chrome用*/
	-moz-border-radius: 10px; /*firefox用*/
}


/* header */

div#logo	{
	margin: 0 auto;
	background: url(image/logo3.png) no-repeat;	
	width: 600px;
	height: 285px;
}


/*sub*/
div#sub	{
	width: 278px;
	margin: 14px 10px 10px 14px;
	padding: 10px;
	background: #192f60;
	-webkit-box-ordinal-group: 2; /* Safari,Google Chrome用（1番目に表示 */  
    -moz-box-ordinal-group: 2; /* Firefox用（1番目に表示） */  
}



/*メイン*/
#main	{
	width: 570px;
	margin: 10px 14px 10px 22px;
	padding:10px;
	opacity: 0.8;
	background: #222;
	font-size: 16px;
	-webkit-box-ordinal-group: 1; /* Safari,Google Chrome用（2番目に表示 */  
    -moz-box-ordinal-group: 1; /* Firefox用（2番目に表示） */  
}

#main p	{
	width: 530px;
	color: white;
	margin: 0 10px 10px 10px;
}

#main h2	{
	color: #fcc800;
	border-top: solid black 4px;
	margin: 0;
}
